/*----------ZEROING------------------- */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top; /* чтобы снизу не было отступа */
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;   
}
html,
body {
    background: #cdbea7;
    height: 100%;
    font-size: 16px;
    line-height: 150%;
    font-weight: 400; 
    font-family: 'Roboto', sans-serif;
}
body._lock {
    overflow: hidden;
}
/* ---WRAPPER------------------------ */
.wrapper {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
/* --------------------------------- */
._container {
    max-width: 800px;
    margin: 0px auto;
    padding: 0px 15px;
    box-sizing: content-box;
}
/* --HEADER----------------------- */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
    z-index: 5;
}
.header__container {
    min-height: 100px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    color: #cdbea7;
}
.logo {
    background-color: #cdbea7;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: all .5s ease;
    z-index: 5;
}
.logo:hover {
    transform: rotateY(.5turn);
    background-color: #c29545;
}
.header__menu {
}
.menu {
}
.menu__icon {
    display: none;
}
.menu__body {
}
.menu__list {
}
.menu__list > li {
    position: relative;
    padding: 0px 0px 0px 20px;
}
.menu__arrow {
    display: none;
}
.menu__sub-list {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgba(0, 0, 0, .8);
    padding: 15px;
    min-width: 200px;
}
.menu__sub-list > li {
    margin-bottom: 10px;
    text-align: right;
}
/* ---PC-TOUCH----------------------- */
body._pc .menu__list > li:hover .menu__sub-list {
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
    pointer-events: all;
}
body._touch .menu__list > li {
    display: flex;
    align-items: center;
}
body._touch .menu__link {
    flex: 1 1 auto;
}
body._touch .menu__arrow {
    display: block;
    width: 0;
    height: 0;
    transition: transform .5s ease 0s;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 15px solid #cdbea7;
    margin-left: 5px;
}
body._touch .menu__list > li._active .menu__sub-list {
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
    pointer-events: all;
}
body._touch .menu__list > li._active .menu__arrow  {
    transform: rotateX(.5turn);
}
/* --------------------------- */
.menu__link {
    font-size: 30px;
    transition: all .5s ease;
}
.menu__link:hover {
    color: #c29545;
}

/* ----HEADER-MEDIA------------------------------ */
@media (min-width: 767px) {
    .menu__list {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .menu__list > li {
        padding: 10px;
    }
    .menu__sub-list {
        transform: translateY(10%);
        pointer-events: none;
        opacity: 0;
        visibility: hidden;
        transition: all .5s ease 0s;
    }
}
@media (max-width: 767px) {
    .menu__icon {
        z-index: 5;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
    }
    .menu__icon span,
    .menu__icon::before,
    .menu__icon::after {
        left: 0px;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all .5s ease 0s;
        background-color: #cdbea7;
    }
    .menu__icon::before,
    .menu__icon::after {
        content: "";
    }
    .menu__icon::before {
        top: 0;
    }
    .menu__icon::after {
        bottom: 0;
    }
    .menu__icon span {
        top: 50%;
        transform: scale(1) translateY(-50%);
    }

    .menu__icon._active span {
        transform: scale(0) rotate(-90deg);
    }
    .menu__icon._active::before {
        top: 50%;
        transform: rotate(-405deg) translateY(-50%);
    }
    .menu__icon._active::after {
        bottom: 50%;
        transform: rotate(405deg) translateY(50%);
    }

    .menu__body {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .8);
        padding: 100px 30px 30px 30px;
        transition: left .5s ease 0s;
        overflow: auto;
    }
    .menu__body._active {
        left: 0;
    }
    .menu__body::before {
        content: "";
        position: fixed;
        width: 100%;
        height: 100px;
        top: 0;
        left: 0;
        background-color: #000;
        z-index: 2;
    }
    .menu__list > li {
        margin: 0px 0px 30px 0px;
        flex-wrap: wrap;
    }
    .menu__list > li._active .menu__sub-list {
        display: block;
    }
    .menu__link {
        font-size: 40px;
    }
    .menu__sub-list {
        position: relative;
        background-color: #cdbea7;
        flex: 1 1 100%;
        margin-top: 20px;
        display: none;
    }
    .menu__sub-list > li {
        font-size: 40px;
        color: #000;
    }
}

/* --FOOTER------------------------- */
.footer {
    background-color: rgba(0, 0, 0, .8);
    height: 500px;
}
.footer__container {
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
}
.footer__container > * {
    margin: 0px auto;
    padding: 20px;
    color: #cdbea7;    
}

/* ---MAIN------------------- */
.main {
}
.main__container {
    padding: 100px 0px 80px 0px;
}
/* --SECTION-------------------- */
.main__section {
    padding: 20px 0px 20px 0px;
}
.section_main-1 {
}
.main__title {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 5px;
    margin-bottom: 20px;
    padding-left: 40px;
    color: #c29545;
    border-left: 20px solid #c29545;
}
.main__text {
}
.section_main-2 {
}
.section_main-3 {
}
.section_main-4 {
}
.section_main-5 {
}
.section_main-6 {
}
.section_main-7 {
}
.section_main-8 {
}
.section_main-9 {
}

/*  */